<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.flow.dao.FlowNodeDealMapper" >
  <resultMap id="BaseResultMap" type="com.allmsi.flow.model.FlowNodeDeal" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="nodeId" property="nodeId" jdbcType="VARCHAR" />
    <result column="nodeDealId" property="nodeDealId" jdbcType="VARCHAR" />
    <result column="nodeDealType" property="nodeDealType" jdbcType="VARCHAR" />
    <result column="cTime" property="cTime" jdbcType="TIMESTAMP" />
    <result column="cUserId" property="cUserId" jdbcType="VARCHAR" />
    <result column="uTime" property="uTime" jdbcType="TIMESTAMP" />
    <result column="uUserId" property="uUserId" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="BIT" />
    
    <result column="routeId" property="routeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nodeId, nodeDealId, nodeDealType, cTime, cUserId
  </sql>
  <select id="selectByNodeId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from im_tp_flow_node_deal
    where nodeId = #{nodeId,jdbcType=VARCHAR} and del=0
     order by cTime desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from im_tp_flow_node_deal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSelective" parameterType="com.allmsi.flow.model.FlowNodeDeal" >
    insert into im_tp_flow_node_deal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nodeId != null" >
        nodeId,
      </if>
      <if test="nodeDealId != null" >
        nodeDealId,
      </if>
      <if test="nodeDealType != null" >
        nodeDealType,
      </if>
      <if test="cUserId != null" >
        cUserId,
      </if>
       cTime,  del
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeDealId != null" >
        #{nodeDealId,jdbcType=VARCHAR},
      </if>
      <if test="nodeDealType != null" >
        #{nodeDealType,jdbcType=VARCHAR},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=VARCHAR},
      </if>
      now(),0
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allmsi.flow.model.FlowNodeDeal" >
    update im_tp_flow_node_deal
    <set >
      <if test="nodeId != null" >
        nodeId = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeDealId != null" >
        nodeDealId = #{nodeDealId,jdbcType=VARCHAR},
      </if>
      <if test="nodeDealType != null" >
        nodeDealType = #{nodeDealType,jdbcType=VARCHAR},
      </if>
      <if test="uUserId != null" >
        uUserId = #{uUserId,jdbcType=VARCHAR},
      </if>
      uTime = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <update id="deleteByPrimaryKey" parameterType="com.allmsi.flow.model.FlowNodeDeal">
    update im_tp_flow_node_deal set  uTime = now(),del=1
     <if test="uUserId != null" >
        ,uUserId = #{uUserId,jdbcType=VARCHAR}
      </if>
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <update id="deleteByNodeId" parameterType="java.lang.String">
    update im_tp_flow_node_deal set  uTime = now(),del=1
    where  nodeId = #{nodeId,jdbcType=VARCHAR}
  </update>
  <select id="receiverSelect" resultMap="BaseResultMap" parameterType="com.allmsi.flow.model.FlowNodeDeal" >
  	select DISTINCT fnd.nodeDealId,fnd.nodeDealType FROM im_tp_flow_node_deal fnd left join
  	im_tp_flow_route_deal frd on fnd.nodeDealType = frd.routeDealType
  	where fnd.nodeId = #{nodeId,jdbcType=VARCHAR} and frd.routeId = #{routeId,jdbcType=VARCHAR}
  	and fnd.del=0 and frd.del = 0
  </select>
</mapper>